#jinja2: lstrip_blocks: True, trim_blocks: True
# {{ ansible_managed }}
[all]
arm_64bit=1
kernel=vmlinuz
cmdline=cmdline.txt
initramfs initrd.img followkernel

# Enable the audio output, I2C and SPI interfaces on the GPIO header. As these
# parameters related to the base device-tree they must appear *before* any
# other dtoverlay= specification
dtparam=audio=on
dtparam=i2c_arm={{ 'on' if raspberry_pi_common_enable_i2c else 'off' }}
dtparam=spi={{ 'on' if raspberry_pi_common_enable_spi else 'off' }}

# Comment out the following line if the edges of the desktop appear outside
# the edges of your display
disable_overscan=1

# If you have issues with audio, you may try uncommenting the following line
# which forces the HDMI output into HDMI mode instead of DVI (which doesn't
# support audio output)
#hdmi_drive=2

# Enable the KMS ("full" KMS) graphics overlay, leaving GPU memory as the
# default (the kernel is in control of graphics memory with full KMS)
dtoverlay=vc4-kms-v3d
disable_fw_kms_setup=1

# Enable the serial pins
enable_uart={{ 1 if raspberry_pi_common_enable_uart else 0 }}

# Autoload overlays for any recognized cameras or displays that are attached
# to the CSI/DSI ports. Please note this is for libcamera support, *not* for
# the legacy camera stack
camera_auto_detect=1
display_auto_detect=1

# Config settings specific to arm64
dtoverlay=dwc2

{% if raspberry_pi_common_enable_watchdog %}
# Enable Watchdog
dtparam=watchdog=on
{% endif %}

[pi5]
{% if raspberry_pi_5_enable_pcie_without_hat %}
# Enable PCIe without needing to connect HAT+ device
dtparam=pciex1
{% endif %}
{% if raspberry_pi_5_enable_pcie_gen3 %}
# Enable PCIe Gen 3 (not certified)
dtparam=pciex1_gen=3
{% endif %}
{% if raspberry_pi_5_has_rtc_batt %}
# Setup RTC battery charging
dtparam=rtc_bbat_vchg=3000000
{% endif %}
{% if raspberry_pi_5_usb_max_current_enable %}
# Enable 1600mA USB output even when power supply is below 25W
usb_max_current_enable=1
{% endif %}
{% if raspberry_pi_5_turn_off_lights %}
# Turn off power LEDs
dtparam=pwr_led_trigger=none
dtparam=pwr_led_activelow=default-on
dtparam=act_led_trigger=none
dtparam=act_led_activelow=off
# Turn off ethernet LEDs
dtparam=eth_led0=4
dtparam=eth_led1=4
{% endif %}

[all]